.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-center-align {
  text-align: center;
}

input.example-center-align ::-webkit-outer-spin-button,
input.example-center-align ::-webkit-inner-spin-button {
  display: none;
}

input.example-center-align  {
  -moz-appearance: textfield;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.form{
  width: 50%;
  margin: auto;
  margin-top: 25%;
}

mat-form-field{
  width: 100%;
}
