
<div class="example-container">
  <div class="form text-center">
    <h1>Me connecter</h1>
    <form [formGroup]="loginForm">
    <div>
      <mat-form-field  appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input matInput placeholder="guinguette" formControlName="username" required>
        <mat-error *ngIf="!loginForm.get('username')?.valid">{{getErrorMessage('username')}}</mat-error>
        </mat-form-field>
    </div>

    <div>
      <mat-form-field  appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix   (click)="tooglePassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.get('password')?.valid">{{getErrorMessage('password')}}</mat-error>

      </mat-form-field>
      <mat-error *ngIf="apiError">
        {{ apiError }}
      </mat-error>
    </div>

    <button [disabled]="!loginForm.valid" (click)="login()" mat-raised-button color="primary">Me connecter</button>

    </form>
  </div>





</div>
